<!-- include header -->
<%- include('partials/header', { currentPage: 'data-siswa' , user: user }) %>

  <!-- breadcrumb -->
  <ol class="ms-3 flex items-center whitespace-nowrap">
    <li class="flex items-center text-sm text-gray-800 dark:text-neutral-400">
      Dashboard
      <svg class="shrink-0 mx-3 overflow-visible size-2.5 text-gray-400 dark:text-neutral-500" width="16" height="16"
        viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" />
      </svg>
    </li>
    <li class="text-sm font-semibold text-gray-800 truncate dark:text-neutral-400" aria-current="page">
      Data Siswa
    </li>
  </ol>
  <!-- End Breadcrumb -->
  </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- include sidebar -->
  <%- include('partials/sidebar') %>

    <!-- Content -->
    <div class="w-full">
      <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
        <!-- your content goes here ... -->
        <div
          class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
          <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="border rounded-lg divide-y divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700">
                  <div class="py-3 px-4">
                    <div class="relative max-w-xs">
                      <label for="hs-table-search" class="sr-only">Search</label>
                      <input type="text" name="hs-table-search" id="hs-table-search"
                        class="py-2 px-3 ps-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="Search for items">
                      <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
                        <svg class="size-4 text-gray-400 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg"
                          width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round">
                          <circle cx="11" cy="11" r="8"></circle>
                          <path d="m21 21-4.3-4.3"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
                      <thead class="bg-gray-50 dark:bg-neutral-700">
                        <tr>
                          <th scope="col" class="py-3 px-4 pe-0">
                            <div class="flex items-center h-5">
                              <input id="hs-table-search-checkbox-all" type="checkbox"
                                class="border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-700 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                              <label for="hs-table-search-checkbox-all" class="sr-only">Checkbox</label>
                            </div>
                          </th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            NIS</th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            NISN</th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            Nama Lengkap</th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            Nama Panggilan</th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            Jenis Kelamin</th>
                          <th scope="col"
                            class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">
                            Kelas</th>
                        </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                        <% siswa.forEach(function(siswa) { %>
                          <tr>
                            <td class="py-3 ps-4">
                              <div class="flex items-center h-5">
                                <input id="hs-table-search-checkbox-1" type="checkbox"
                                  class="border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                                <label for="hs-table-search-checkbox-1" class="sr-only">Checkbox</label>
                              </div>
                            </td>
                            <td
                              class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">
                              <%= siswa.nis %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                              <%= siswa.nisn %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                              <%= siswa.namalengkap %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                              <span
                                class="font-semibold uppercase inline-flex items-center rounded-md <%=siswa.jeniskelamin === 'Laki-laki'? 'bg-red-50 text-red-700' : 'bg-green-50 text-green-700' %> px-2 py-1 text-xs ring-1 ring-inset ring-green-600/20">
                                <%= siswa.jeniskelamin %>
                              </span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                              <span
                                class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20">
                                <%= siswa.namapanggilan %>
                              </span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">
                              <span
                                class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20">
                                <%= siswa.kelas %>
                              </span>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end your content -->
      </div>
    </div>

    <!-- include footer -->
    <%- include('partials/footer') %>